@{
    ViewData["Title"] = "Confirmação de exclusão de contato";
}

<div>
    <h1 class="display-4">Confirmar exclusão de contato</h1>

    <br />
    <h4>Realmente deseja apagar o contato (<strong class="text-decoration-underline">Luiz Comparin</strong>)?</h4>
</div>

<br />

<a class="btn btn-primary" role="button">Confirmar exclusão</a>
<a class ="btn btn-secondary" role="button">Cancelar exclusão</a>
